<header>
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
            <a id="goUp" href="#home-slider" title="Crystal Studio | Awesome Game">Crystal Studio</a>
        </div>
        
        <nav id="menu">
            <ul id="menu-nav">
                <li><a class="external" href="{{ app.request.basepath }}/">Home</a></li>
                <li class="current"><a href="{{ app.request.basepath }}/blog/">Our Blog</a></li>
         
            </ul>
        </nav>
        
    </div>
    <script src="{{ app.request.basepath }}/Ressources/js/modernizr.js"></script>
</header>