<div class="container">
    <div class="row">
        <div class="span12">
            <hr>
        </div>  

        <div class="span12">

            <blockquote>
                <h3><span class="color-text">NEW GAME</span> : Rogue Space</h3>
                <img class="imgBlog" src="{{ app.request.basepath }}/Ressources/img/work/blog/roguespace.png" />
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem. Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam.</p>
                

                <small>
                    <cite title="John Bostic">Amaury LAROZE - Thuesday, May 26th</cite>
                </small>
            </blockquote>
        </div>

        <div class="span12">
            <hr>
        </div>  

        <div class="span12">
            <blockquote>
                <h3><span class="color-text">NEW GAME</span> : Sycen</h3>
                <img class="imgBlog" src="{{ app.request.basepath }}/Ressources/img/work/blog/sycen.png" />
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem. Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam.</p>
                

                <small>
                    <cite title="John Bostic">Amaury LAROZE - Thuesday, May 26th</cite>
                </small>
            </blockquote>
        </div>

    </div>
</div>
