<!-- Our Work Section -->
<div id="work" class="page">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Work</h2>
                    <h3 class="title-description">We try to make <b>awesome</b> games. But... It does not work!</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="span3">
                <!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                        <li class="type-work">Type of Game</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <li><a href="#filter" data-option-value=".arena">Arena</a></li>
                        <li><a href="#filter" data-option-value=".rpg">RPG</a></li>
                       
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs">
                            
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span3 arena">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mummified" href="{{ app.request.basepath }}/Ressources/images/portfolio/mummified.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ app.request.basepath }}/Ressources/images/portfolio/mummified_mini.jpg" alt="<b><a href='http://mummified.crystal-studio.xyz'>Web site</a>.</b>">
                            </li>
                            <!-- End Item Project -->

                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span3 rpg">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Aeril" href="{{ app.request.basepath }}/Ressources/images/portfolio/aeril.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ app.request.basepath }}/Ressources/images/portfolio/aeril_mini.jpg" alt="<b><a href='http://aeril.crystal-studio.xyz'>Web site</a>.</b>">
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->